body {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

progress {
    width: 30dvw;
}

ul {
    margin: 0;
}

ul.Dashed {
    list-style-type: none;
}

ul.Dashed > li {
    text-indent: -40px;
}

ul.Dashed > li:before {
    content: "- ";
    text-indent: -40px;
}

.Head {
    display: flex;
    justify-content: center;
    border-top: 5px solid purple;
    border-bottom: 1px solid lightgray;
}

.Head_text {
    margin: 15px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    flex: 1;
}

.Body {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.Margin {
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
}

.Margin_content {
    margin: 0px;
    padding: 0px;
}

.Main {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Footer {
    padding: 3px;
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
}

.Title {
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-family: Arial Narrow;
    font-size: 40px;
    color: darkgray;
}

.Subtitle {
    margin: 0px;
    padding-left: 10px;
    text-align: start;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.Text {
    margin: 0px;
    padding: 10px;
    text-align: start;
    font-family: Arial;
    font-size: 15px;
    color: black;
}

.Text_two {
    margin: 0px;
    text-align: start;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    color: gray;
}

.Image {
    width:30vmin; 
    height:30vmin; 
    border-radius:50%;
}

.Progress_bar {
    margin: 10px;
    border-radius: 25px;
    border: 1px solid lightgray;
    height: 8px;
    width: 450px;
}

.Progress_bar_content {
    border-radius: 25px 0px 0px 25px;
    background-color: blue;
    height: 8px;
    width: 450px;
}

@media only screen and (max-width: 800px) {
    body {
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
        justify-content: center;
    }
    
    .Body {
        display: flex;
        flex-direction: column;
    }

    .Margin {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Main {
        display: flex;
        flex-direction: column;
        border-top: 1px solid lightgray;
    }

    .Heading {
        align-self: center;
    }

    .Title {
        margin: 0px;
        padding: 10px;
        text-align: center;
        font-family: Arial Narrow;
        font-size: 30px;
        color: darkgray;
    }

    .Image {
        width:30vmin; 
        height:30vmin; 
        border-radius:50%;
    }

    .Progress_bar {
        margin: 10px;
        border-radius: 25px;
        border: 1px solid lightgray;
        height: 8px;
        width: 600px;
    }
    
    .Progress_bar_content {
        border-radius: 25px 0px 0px 25px;
        background-color: blue;
        height: 8px;
        width: 600px;
    }
}